div .main {
    padding: 10px;
    font: 1em arial;
    display: grid;


}

div .general {
    display: grid;
    grid-auto-columns: 26% 74%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-template-areas: "posts posts"
        "area area"
        "sensors chart"
        "periods chart";
}

div .sensors {
    grid-area: sensors;
}

div .area {
    grid-area: area;
    font-size: 95%;
    height: 34px;
    margin: 15px;
}

div .periods {
    grid-area: periods;
}

div .posts {
    grid-area: posts;
    place-self: center;
}

div .chart {
    align-self: top;
    border-radius: 10px;
    grid-area: chart;
}